[submodule "external/ton"]
	path = external/ton
	url = https://github.com/ton-blockchain/ton
	branch = testnet
[submodule "external/userver"]
	path = external/userver
	url = https://github.com/userver-framework/userver.git
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
	branch = 11.2.0
