services:
  http-api-cpp:
    image: toncenter/ton-http-api-cpp:latest
    build:
      context: .
      dockerfile: Dockerfile
      target: http-api-cpp
      args:
        - BUILD_WITH_TON_REPO
        - BUILD_WITH_TON_BRANCH
        - THACPP_CONFIG_VARS=/run/secrets/config-vars
        - THACPP_TONLIB_CONFIG_PATH=/run/secrets/ton-global-config
    ports:
      - ${THACPP_PORT:-8081}:8081
      - ${THACPP_MONITOR_PORT:-8082}:8082
    restart: unless-stopped
    secrets:
      - ton-global-config
      - config-vars
    ulimits:
      memlock: -1
      stack: -1
      core: -1
secrets:
  ton-global-config:
    file: ${THACPP_TONLIB_CONFIG_PATH:-private/mainnet.json}
  config-vars:
    file: ${THACPP_CONFIG_VARS:-private/config_vars.yaml}
