services:
  http-api-cpp:
    image: toncenter/ton-http-api-cpp:latest
    build:
      context: .
      dockerfile: Dockerfile
      target: http-api-cpp
      args:
        - BUILD_WITH_TON_REPO
        - BUILD_WITH_TON_BRANCH
    ports:
      - ${THACPP_PORT:-8081}:8081
      - ${THACPP_MONITOR_PORT:-8082}:8082
    environment:
      - THACPP_TONLIB_CONFIG_PATH
      - THACPP_TONLIB_KEYSTORE_PATH
      - THACPP_TONLIB_BOC_ENDPOINTS
      - THACPP_TONLIB_THREADS
      - THACPP_PORT
      - THACPP_MONITOR_PORT
      - THACPP_MAIN_WORKER_THREADS
      - THACPP_FS_WORKER_THREADS
      - THACPP_HTTP_WORKER_THREADS
      - THACPP_LOG_LEVEL
      - THACPP_LOG_PATH
      - THACPP_SYSTEM_LOG_LEVEL
      - THACPP_SYSTEM_LOG_PATH
      - THACPP_JSONRPC_LOG_LEVEL
      - THACPP_JSONRPC_LOG_PATH
      - THACPP_LOG_FORMAT
      - THACPP_HTTP_WORKER_USER_AGENT
      - THACPP_STATIC_CONTENT_DIR
      - THACPP_MAX_STACK_ENTRY_DEPTH
    restart: unless-stopped
#    secrets:
#      - ton-global-config
    ulimits:
      memlock: -1
      stack: -1
      core: -1
#secrets:
#  ton-global-config:
#    file: ${THACPP_GLOBAL_CONFIG_PATH:-private/mainnet.json}
