components_manager:
  coro_pool:
    initial_size: 1000
    max_size: 10000
    stack_size: 4194304
    stack_usage_monitor_enabled: true
  event_thread_pool:
    threads: 2
  task_processors:
    main-task-processor:
      worker_threads: $main_worker_threads
      worker_threads#fallback: 4
    fs-task-processor:
      thread_name: blocking_thread
      worker_threads: $fs_worker_threads
      worker_threads#fallback: 1
    monitor-task-processor:
      thread_name: monitor_thread
      worker_threads: $monitor_worker_threads
      worker_threads#fallback: 1
  default_task_processor: main-task-processor
  components:
    server:
      listener:
        port: $server_port
        port#fallback: 8081
        connection:
          in_buffer_size: 1048576
          requests_queue_size_threshold: 16384
        task_processor: main-task-processor
        handler-defaults:
          max_url_size: 8192
          max_request_size: 1048576
          max_headers_size: 65536
          set_tracing_headers: false
      listener-monitor:
        port: $monitor_port
        port#fallback: 8082
        task_processor: monitor-task-processor
    logging:
      fs-task-processor: fs-task-processor
      loggers:
        default:
          file_path: $system_log_path
          file_path#fallback: "@stdout"
          level: $system_log_level
          level#fallback: warning
          format: $log_format
          format#fallback: json
          overflow_behavior: discard
        api-v2:
          file_path: $log_path
          file_path#fallback: "@stdout"
          level: $log_level
          level#fallback: warning
          format: $log_format
          format#fallback: json
          overflow_behavior: discard
        api-v2-jsonrpc:
          file_path: $jsonrpc_log_path
          file_path#fallback: "@stdout"
          level: $jsonrpc_log_level
          level#fallback: warning
          format: $log_format
          format#fallback: json
          overflow_behavior: discard
    #
    # components
    #
    tonlib:
      global_config: $tonlib_config_path
      keystore: $tonlib_keystore_path
      keystore#fallback: /tmp/keystore/
      threads: $tonlib_threads
      threads#fallback: 4
      task_processor: main-task-processor
    dns-client:
      fs-task-processor: fs-task-processor
    http-client:
      pool-statistics-disable: true
      thread-name-prefix: http-client
      threads: $http_worker_threads
      threads#fallback: 2
      fs-task-processor: fs-task-processor
      destination-metrics-auto-max-size: 100
      user-agent: $http_worker_user_agent
      user-agent#fallback: empty
    jsonrpc-http-client:
      pool-statistics-disable: true
      thread-name-prefix: jsonrpc-http-client
      threads: $http_worker_threads
      threads#fallback: 2
      fs-task-processor: fs-task-processor
      destination-metrics-auto-max-size: 0
      user-agent: $http_worker_user_agent
      user-agent#fallback: empty
    fs-cache-main:
      dir: $static_content_dir
      dir#fallback: /app/static/
      update-period: 10s
    #
    # api v2 handlers
    #
    ## utils
    handler-DetectAddress:
      path: /api/v2/detectAddress
      method: GET,POST
      cache_enabled: false
    handler-DetectHash:
      path: /api/v2/detectHash
      method: GET,POST
      cache_enabled: false
    handler-PackAddress:
      path: /api/v2/packAddress
      method: GET,POST
      cache_enabled: false
    handler-UnpackAddress:
      path: /api/v2/unpackAddress
      method: GET,POST
      cache_enabled: false
    handler-GetAddressInformation:
      path: /api/v2/getAddressInformation
      method: GET,POST
      cache_enabled: true
      cache_size: 4096
      cache_ways: 16
      cache_ttl: 1s
    handler-GetExtendedAddressInformation:
      path: /api/v2/getExtendedAddressInformation
      method: GET,POST
      cache_enabled: true
      cache_size: 4096
      cache_ways: 16
      cache_ttl: 1s
    handler-GetWalletInformation:
      path: /api/v2/getWalletInformation
      method: GET,POST
      cache_enabled: true
      cache_size: 4096
      cache_ways: 16
      cache_ttl: 1s
    handler-GetAddressBalance:
      path: /api/v2/getAddressBalance
      method: GET,POST
      cache_enabled: true
      cache_size: 4096
      cache_ways: 16
      cache_ttl: 1s
    handler-GetAddressState:
      path: /api/v2/getAddressState
      method: GET,POST
      cache_enabled: true
      cache_size: 4096
      cache_ways: 16
      cache_ttl: 1s
    handler-GetTokenData:
      path: /api/v2/getTokenData
      method: GET,POST
      cache_enabled: true
      cache_size: 4096
      cache_ways: 16
      cache_ttl: 1s

    ## blocks
    handler-GetMasterchainInfo:
      path: /api/v2/getMasterchainInfo
      method: GET,POST
      cache_enabled: true
      cache_size: 1
      cache_ways: 1
      cache_ttl: 1s
    handler-GetMasterchainBlockSignatures:
      path: /api/v2/getMasterchainBlockSignatures
      method: GET,POST
      cache_enabled: true
      cache_size: 1024
      cache_ways: 16
      cache_ttl: 300s
    handler-GetShardBlockProof:
      path: /api/v2/getShardBlockProof
      method: GET,POST
      cache_enabled: true
      cache_size: 1024
      cache_ways: 16
      cache_ttl: 300s
    handler-GetConsensusBlock:
      path: /api/v2/getConsensusBlock
      method: GET,POST
      cache_enabled: true
      cache_size: 1
      cache_ways: 1
      cache_ttl: 1s
    handler-LookupBlock:
      path: /api/v2/lookupBlock
      method: GET,POST
      cache_enabled: true
      cache_size: 1024
      cache_ways: 16
      cache_ttl: 300s
    handler-GetShards:
      path: /api/v2/getShards
      method: GET,POST
      cache_enabled: true
      cache_size: 1024
      cache_ways: 16
      cache_ttl: 300s
    handler-Shards:
      path: /api/v2/shards
      method: GET,POST
      cache_enabled: true
      cache_size: 1024
      cache_ways: 16
      cache_ttl: 300s
    handler-GetBlockHeader:
      path: /api/v2/getBlockHeader
      method: GET,POST
      cache_enabled: true
      cache_size: 1024
      cache_ways: 16
      cache_ttl: 300s
    handler-GetOutMsgQueueSize:
      path: /api/v2/getOutMsgQueueSize
      method: GET,POST
      cache_enabled: true
      cache_size: 1
      cache_ways: 1
      cache_ttl: 1s

    ## transactions
    handler-GetBlockTransactions:
      path: /api/v2/getBlockTransactions
      method: GET,POST
      cache_enabled: true
      cache_size: 1024
      cache_ways: 16
      cache_ttl: 300s
    handler-GetBlockTransactionsExt:
      path: /api/v2/getBlockTransactionsExt
      method: GET,POST
      cache_enabled: true
      cache_size: 1024
      cache_ways: 16
      cache_ttl: 300s
    handler-GetTransactions:
      path: /api/v2/getTransactions
      method: GET,POST
      cache_enabled: true
      cache_size: 1024
      cache_ways: 16
      cache_ttl: 1s
    handler-GetTransactionsStd:
      path: /api/v2/getTransactionsStd
      method: GET,POST
      cache_enabled: true
      cache_size: 1024
      cache_ways: 16
      cache_ttl: 1s
    handler-TryLocateResultTx:
      path: /api/v2/tryLocateResultTx
      method: GET,POST
      cache_enabled: true
      cache_size: 1024
      cache_ways: 16
      cache_ttl: 1s
    handler-TryLocateTx:
      path: /api/v2/tryLocateTx
      method: GET,POST
      cache_enabled: true
      cache_size: 1024
      cache_ways: 16
      cache_ttl: 1s
    handler-TryLocateSourceTx:
      path: /api/v2/tryLocateSourceTx
      method: GET,POST
      cache_enabled: true
      cache_size: 1024
      cache_ways: 16
      cache_ttl: 1s

    ## config
    handler-GetConfigParam:
      path: /api/v2/getConfigParam
      method: GET,POST
      cache_enabled: true
      cache_size: 1024
      cache_ways: 16
      cache_ttl: 5s
    handler-GetConfigAll:
      path: /api/v2/getConfigAll
      method: GET,POST
      cache_enabled: true
      cache_size: 1024
      cache_ways: 16
      cache_ttl: 5s
    handler-GetLibraries:
      path: /api/v2/getLibraries
      method: GET,POST
      cache_enabled: true
      cache_size: 1024
      cache_ways: 16
      cache_ttl: 5s

    ## get-methods
    handler-RunGetMethod:
      path: /api/v2/runGetMethod
      method: POST
      cache_enabled: true
      cache_size: 1024
      cache_ways: 16
      cache_ttl: 1s
    handler-RunGetMethodStd:
      path: /api/v2/runGetMethodStd
      method: POST
      max_stack_entry_depth: $max_stack_entry_depth
      max_stack_entry_depth#fallback: 100
      cache_enabled: true
      cache_size: 1024
      cache_ways: 16
      cache_ttl: 1s
    ## send boc
    handler-SendBoc:
      path: /api/v2/sendBoc
      method: POST
      external_message_endpoints: $tonlib_boc_endpoints
      external_message_endpoints#fallback: []
      return_hash: false
      ignore_errors: false
      log-level: error
    handler-SendBocReturnHash:
      path: /api/v2/sendBocReturnHash
      method: POST
      external_message_endpoints: $tonlib_boc_endpoints
      external_message_endpoints#fallback: []
      return_hash: true
      ignore_errors: false
      log-level: error
    handler-SendBocReturnHashNoError:
      path: /api/v2/sendBocReturnHashNoError
      method: POST
      external_message_endpoints: $tonlib_boc_endpoints
      external_message_endpoints#fallback: []
      return_hash: true
      ignore_errors: true
      log-level: error
    handler-EstimateFee:
      path: /api/v2/estimateFee
      method: POST
      cache_enabled: false

    #
    # jsonrpc handler
    #
    handler-JsonRpc:
      path: /api/v2/jsonRPC
      method: POST
      logger: api-v2-jsonrpc
      port: $server_port
      port#fallback: 8081
      log-level: error

    #
    # service handlers
    #
    handler-ping:
      path: $ping_path
      path#fallback: /api/v2/healthcheck
      method: GET
      task_processor: main-task-processor
      log-level: warning
      throttling_enabled: false
      url_trailing_slash: strict-match
    handler-static:
      fs-cache-component: fs-cache-main
      path: /api/v2/*
      method: GET

    #
    # monitor handlers
    #
    handler-server-monitor:
      path: $monitor_path
      path#fallback: /stats
      method: GET
      task_processor: monitor-task-processor
      format: json
