components_manager:
  task_processors:
    main-task-processor:
      worker_threads: $main_worker_threads
      worker_threads#fallback: 4
    fs-task-processor:
      thread_name: blocking_thread
      worker_threads: $fs_worker_threads
      worker_threads#fallback: 1
    monitor-task-processor:
      thread_name: monitor_thread
      worker_threads: $monitor_worker_threads
      worker_threads#fallback: 1
  default_task_processor: main-task-processor
  components:
    server:
      listener:
        port: $server_port
        port#fallback: 8081
        connection:
          in_buffer_size: 1048576
          requests_queue_size_threshold: 1024
        task_processor: main-task-processor
        handler-defaults:
          max_url_size: 8192
          max_request_size: 1048576
          max_headers_size: 65536
          set_tracing_headers: false
      listener-monitor:
        port: $monitor_port
        port#fallback: 8082
        task_processor: monitor-task-processor
    logging:
      fs-task-processor: fs-task-processor
      loggers:
        default:
          file_path: $system_log_path
          file_path#fallback: "@stdout"
          level: $system_log_level
          level#fallback: warning
          format: $log_format
          format#fallback: json
          overflow_behavior: discard
        api-v2:
          file_path: $log_path
          file_path#fallback: "@stdout"
          level: $log_level
          level#fallback: warning
          format: $log_format
          format#fallback: json
          overflow_behavior: discard
        api-v2-jsonrpc:
          file_path: $jsonrpc_log_path
          file_path#fallback: "@stdout"
          level: $jsonrpc_log_level
          level#fallback: warning
          format: $log_format
          format#fallback: json
          overflow_behavior: discard
    #
    # components
    #
    tonlib:
      global_config: $tonlib_config_path
      keystore: $tonlib_keystore_path
      keystore#fallback: /tmp/keystore/
      threads: $tonlib_threads
      threads#fallback: 4
      # external_message_endpoints: $tonlib_boc_endpoints
      # external_message_endpoints#fallback: []
      task_processor: main-task-processor
    dns-client:
      fs-task-processor: fs-task-processor
    http-client:
      pool-statistics-disable: false
      thread-name-prefix: http-client
      threads: $http_worker_threads
      threads#fallback: 2
      fs-task-processor: fs-task-processor
      destination-metrics-auto-max-size: 100
      user-agent: $http_worker_user_agent
      user-agent#fallback: empty
    fs-cache-main:
      dir: $static_content_dir
      dir#fallback: /app/static/
      update-period: 10s
    #
    # api v2 handlers
    #
    ## utils
    handler-DetectAddress:
      path: /api/v2/detectAddress
      method: GET,POST
      logger: api-v2
    handler-DetectHash:
      path: /api/v2/detectHash
      method: GET,POST
      logger: api-v2
    handler-PackAddress:
      path: /api/v2/packAddress
      method: GET,POST
      logger: api-v2
    handler-UnpackAddress:
      path: /api/v2/unpackAddress
      method: GET,POST
      logger: api-v2
    handler-GetAddressInformation:
      path: /api/v2/getAddressInformation
      method: GET,POST
      logger: api-v2
    handler-GetExtendedAddressInformation:
      path: /api/v2/getExtendedAddressInformation
      method: GET,POST
      logger: api-v2
    handler-GetWalletInformation:
      path: /api/v2/getWalletInformation
      method: GET,POST
      logger: api-v2
    handler-GetAddressBalance:
      path: /api/v2/getAddressBalance
      method: GET,POST
      logger: api-v2
    handler-GetAddressState:
      path: /api/v2/getAddressState
      method: GET,POST
      logger: api-v2
    handler-GetTokenData:
      path: /api/v2/getTokenData
      method: GET,POST
      logger: api-v2

    ## blocks
    handler-GetMasterchainInfo:
      path: /api/v2/getMasterchainInfo
      method: GET,POST
      logger: api-v2
    handler-GetMasterchainBlockSignatures:
      path: /api/v2/getMasterchainBlockSignatures
      method: GET,POST
      logger: api-v2

    #
    # jsonrpc handler
    #
    handler-JsonRpc:
      path: /api/v2/jsonRPC
      method: POST
      logger: api-v2-jsonrpc
      port: $server_port
      port#fallback: 8081

    #
    # service handlers
    #
    handler-ping:
      path: $ping_path
      path#fallback: /health
      method: GET
      task_processor: main-task-processor
      log-level: warning
      throttling_enabled: false
      url_trailing_slash: strict-match
    handler-static:
      fs-cache-component: fs-cache-main
      path: /api/v2/*
      method: GET

    #
    # monitor handlers
    #
    handler-server-monitor:
      path: $monitor_path
      path#fallback: /stats
      method: GET
      task_processor: monitor-task-processor
      format: json
